/* General styles for the page */
.a2-p-4 {
  padding: 1rem;
}

.a2-text-center {
  text-align: center;
}

.a2-text-2xl {
  font-size: 1.5rem;
}

.a2-font-bold {
  font-weight: bold;
}

.a2-mb-4 {
  margin-bottom: 1rem;
}

.a2-mt-4 {
  margin-top: 1rem;
}

/* Grid styles */
.a2-grid {
  display: grid;
  width: 450px;
  height: 450px;
  margin-left: 300px;
}

.a2-grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.a2-grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.a2-gap-2 {
  gap: 0.5rem;
}
.a2-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #16244d;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

/* Image styles */
.a2-border {
  border: 4px solid #ddd;
}

.a2-rounded-lg {
  border-radius: 0.8rem;
}

.a2-p-2 {
  padding: 0.5rem;
}

.a2-cursor-pointer {
  cursor: pointer;
}

.a2-w-20 {
  width: 6rem;
}

.a2-h-20 {
  height: 6rem;
}

.a2-object-cover {
  object-fit: cover;
}

.a2-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Button styles */
.a2-bg-blue-500 {
  background-color: #101833;
}

.a2-text-white {
  color: white;
}

.a2-font-bold {
  font-weight: bold;
}

.a2-rounded {
  border-radius: 0.375rem;
}

.a2-hover\:bg-blue-700:hover {
  background-color: #3b82f6;
}

/* Larger button size */
.a2-btn {
  margin-top: 150px;
  padding: 1rem 2rem; /* Increase padding for larger size */
  font-size: 1.25rem; /* Increase font size */
  min-width: 150px; /* Set minimum width for consistent size */
}
/* Animation shake styles */
@keyframes a2-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.a2-shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
